body{
    width: 100%;
    background-color: rgb(212, 212, 212);
    margin: 10% 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.infos{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.infos form{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.infos form input{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
}

.infos form input .nota{
    width: 100%;
    height: 50%;
    border-radius: 45px;
}

form button{
    width: 105%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #069320;
    color: white;
}